@font-face {
    font-family: fSB;
    src: url(Figtree/static/Figtree-SemiBold.ttf);
}

html, body, div, h1, h2, h3, h4 ,h5, nav, section, ul, li, header, strong, span
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: center;
    background: transparent;
}

nav,section, header {
    display: block;
 }

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
 }
 
 body {
    background: #A8D0E6;
    font-family: fSB, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
     color: #fff;
 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
 }

 h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: fSB, sans-serif;
    font-weight: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    -moz-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
 }
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
 h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }
 h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
 h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
 h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
 h5 { font-size: 18px; line-height: 30px; }
 h6 { font-size: 14px; line-height: 30px; }

 
 p { margin: 0 0 30px 0; }
 p img { margin: 0; }
 p.lead {
    font-family: fSB, serif;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #fff;
 }
 
 strong { font: 15px/30px fSB, sans-serif; }

ul  {
     margin-bottom: 24px; margin-top: 12px; 
     list-style: none outside; 

    }
ul ul { margin: 6px 0 6px 30px; }
ul ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }

.pagination {
    margin: 36px auto;
    text-align: center;
 }
 .pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
 }
 .pagination .page-numbers {
    font: 15px/18px 'opensans-bold', sans-serif;
    display: inline-block;
    padding: 6px 10px;
    margin-right: 3px;
    margin-bottom: 6px;
     color: #fff;
     background-color: #374785;
 
     -webkit-transition: all 200ms ease-in-out;
     -moz-transition: all 200ms ease-in-out;
     -o-transition: all 200ms ease-in-out;
     -ms-transition: all 200ms ease-in-out;
     transition: all 200ms ease-in-out;
 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
     border-radius: 3px;
 }
 .pagination .page-numbers:hover {
    background: #24305E;
    color: #fff;
 }
 .pagination .current,
 .pagination .current:hover {
    background-color: #24305E;
    color: #fff;
 }
 .pagination .inactive,
 .pagination .inactive:hover {
    background-color: #24305E;
     color: #893294;
 }

 img {
    max-width: 100%;
    height: auto;
 }
 img.pull-right { margin: 12px 0px 0px 18px; }
 img.pull-left { margin: 12px 18px 0px 0px; }
 
 .button,
 .button:visited,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
    font: 16px/30px 'opensans-bold', sans-serif;
    background: #24305E;
    display: inline-block;
     text-decoration: none;
    letter-spacing: 0;
    color: #fff;
     padding: 12px 20px;
     margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
 
    -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     -ms-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
 }
 
 .button:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover {
    background: #24305E;
    color: #fff;
 }
 
 .button:active,
 button:active,
 input[type="submit"]:active,
 input[type="reset"]:active,
 input[type="button"]:active {
    background: #24305E;
    color: #fff;
 }
 
 .button.full-width,
 button.full-width,
 input[type="submit"].full-width,
 input[type="reset"].full-width,
 input[type="button"].full-width {
     width: 100%;
     padding-left: 0 !important;
     padding-right: 0 !important;
     text-align: center;
 }
 
 button::-moz-focus-inner,
 input::-moz-focus-inner {
     border: 0;
     padding: 0;
 }

 .row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
 }
 /* fixed width for IE8 */
 .ie .row { width: 1000px ; }
 
 .narrow .row { max-width: 980px; }
 
 .row .row { width: auto; max-width: none; margin: 0 -20px; }
 
 /* row clearing */
 .row:before,
 .row:after {
     content: " ";
     display: table;
 }
 .row:after {
     clear: both;
 }
 
 .column, .columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
 }
 .column.centered, .columns.centered  {
     float: none;
     margin: 0 auto;
 }
 
 /* removed gutters */
 .row.collapsed > .column,
 .row.collapsed > .columns,
 .column.collapsed, .columns.collapsed  { padding: 0; }
 
 [class*="column"] + [class*="column"]:last-child { float: right; }
 [class*="column"] + [class*="column"].end { float: right; }
 
 /* column widths */
 .row .one         { width: 8.33333%; }
 .row .two         { width: 16.66667%; }
 .row .three       { width: 25%; }
 .row .four        { width: 33.33333%; }
 .row .five        { width: 41.66667%; }
 .row .six         { width: 50%; }
 .row .seven       { width: 58.33333%; }
 .row .eight       { width: 66.66667%; }
 .row .nine        { width: 75%; }
 .row .ten         { width: 83.33333%; }
 .row .eleven      { width: 91.66667%; }
 .row .twelve      { width: 100%; }
 
 /* Offsets */
 .row .offset-1    { margin-left: 8.33333%; }
 .row .offset-2    { margin-left: 16.66667%; }
 .row .offset-3    { margin-left: 25%; }
 .row .offset-4    { margin-left: 33.33333%; }
 .row .offset-5    { margin-left: 41.66667%; }
 .row .offset-6    { margin-left: 50%; }
 .row .offset-7    { margin-left: 58.33333%; }
 .row .offset-8    { margin-left: 66.66667%; }
 .row .offset-9    { margin-left: 75%; }
 .row .offset-10   { margin-left: 83.33333%; }
 .row .offset-11   { margin-left: 91.66667%; }
 
 /* Push/Pull */
 .row .push-1      { left: 8.33333%; }
 .row .pull-1      { right: 8.33333%; }
 .row .push-2      { left: 16.66667%; 	}
 .row .pull-2      { right: 16.66667%; }
 .row .push-3      { left: 25%; }
 .row .pull-3      { right: 25%;	}
 .row .push-4      { left: 33.33333%; }
 .row .pull-4      { right: 33.33333%; }
 .row .push-5      { left: 41.66667%; }
 .row .pull-5      { right: 41.66667%; }
 .row .push-6      { left: 50%; }
 .row .pull-6      { right: 50%; }
 .row .push-7      { left: 58.33333%; }
 .row .pull-7      { right: 58.33333%; }
 .row .push-8      { left: 66.66667%; 	}
 .row .pull-8      { right: 66.66667%; }
 .row .push-9      { left: 75%; }
 .row .pull-9      { right: 75%; }
 .row .push-10     { left: 83.33333%; }
 .row .pull-10     { right: 83.33333%; }
 .row .push-11     { left: 91.66667%; }
 .row .pull-11     { right: 91.66667%; }
 
 /* block grids
 --------------------------------------------------------------------- */
 .bgrid-sixths [class*="column"]   { width: 16.66667%; }
 .bgrid-quarters [class*="column"] { width: 25%; }
 .bgrid-thirds [class*="column"]   { width: 33.33333%; }
 .bgrid-halves [class*="column"]   { width: 50%; }
 
 [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: left; }
 
 /** 
  * ===================================================================
  * 03. grid - (_grid.scss)
  *
  * ------------------------------------------------------------------- 
  */
 .row {
    width: 94%;
    max-width: 1140px;
    margin: 0 auto;
 }
 
 .row:before,
 .row:after {
    content: "";
    display: table;
 }
 
 .row:after {
    clear: both;
 }
 
 .row .row {
    width: auto;
    max-width: none;
    margin-left: -20px;
    margin-right: -20px;
 }
 
 [class*="col"] + [class*="col"].end {
    float: right;
 }
 
 .bgrid {
    float: left;
 }

 .colA {
    width: 100%;
    padding: 0 20px;
 }

 .colB {
    width: 50%;
    padding: 0 20px;
 }
  
 .colC {
    width: 33.33333%;
    padding: 0 20px; 
}

@media screen and (max-width:1024px) {
    .row .row {
       margin-left: -18px;
       margin-right: -18px;
    }
 
    [class*="col"] {
       padding: 0 18px;
    }
 
 }

 @media only screen and (max-width: 767px) {

    .row {
        width: 460px;
        margin: 0 auto;
       padding: 0;
     }
    .column, .columns {
        width: auto !important;
        float: none;
        margin-left: 0;
        margin-right: 0;
       padding: 0 30px;
    }
 }

 @media only screen and (max-width: 460px) {

    .row { width: auto; }
 
 }

/* =============================== LAYOUT =============================== */

body { background: #A8D0E6; }

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: 'opensans-bold', sans-serif;
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: .4rem;
}

 header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #374785 no-repeat top center;
    background-size: cover !important;
     -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
 }

 header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
 }
 header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
 }
 
 header .banner-text { width: 100%; }
 header .banner-text h1 {
    font: 90px/1.1em fSB, sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
 }
 header .banner-text h3 {
    font: 18px/1.9em fSB, serif;
    color: #A8A8A8;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
 }
 header .banner-text h3 span,
 header .banner-text h3 a {
    color: #fff;
 }
 header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
 }
 
 /* header social links */
 header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
 }
 header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
 }
 header .social li a { color: #fff; }
 header .social li a:hover { color: #11ABB0; }
 
 header .ss a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }
 header .ss a:hover { color: #11ABB0; }
 
 #nav-wrap ul, #nav-wrap li, #nav-wrap a {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
 }
 
 #nav-wrap {
    font: 12px fSB, sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F8E9A1;
 }

 #nav-wrap > a.mobile-btn { display: none; }
 
 ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
 }
 ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
 }
 
 ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
     text-decoration: none;
    text-align: left;
    color: #fff;
 
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
 }
 
 ul#nav li a:active { background-color: transparent !important; }
 ul#nav li.current a { color: #F76C6C; }


 .nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
  }
 
.banner__content {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .banner__text {
    flex-grow: 1;
    line-height: 1.4;
    position: relative;
  }
  
  .banner__close {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .banner__text,
  .banner__close > span {
    color: #ffffff;
    position: relative;
  }
  
  #about {
    padding-top: 7rem;
    padding-bottom: 8rem;
  }
  
  #about .section-intro {
    margin-bottom: 3rem;
  }
  
  .section-intro h1 {
    color: #FFFFFF;
  }
  
  .intro-info {
    margin-top: 4.2rem;
    margin-right: -100px;
    margin-left: -100px;
  }
  .intro-info img {
    height: 12rem;
    width: 12rem;
    border:1px solid rgb(75, 107, 247);
    border-radius: 50%;
    margin: 0.9rem 1rem 0 2rem;
    float: left;
  }
  .intro-info .lead {
    text-align: left;
    padding-left: 13rem;
  }
  
  .about-content {
    position: relative;
    text-align: left;
    max-width: 850px;
    margin-bottom: 3.6rem;
  }
  .about-content h3 {
    font-family: fSB, sans-serif;
    font-size: 1.8rem;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: .25rem;
  }
  .about-content .info-list {
    list-style: none;
    margin-left: 0;
  }
  .about-content .info-list li {
    padding: 0 0 1.5rem 0;
    margin-bottom: .6rem;
  }
  .about-content .info-list li strong {
    font-family: fSB, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .about-content .info-list li span {
    display: block;
    font-family: 'opensans-bold', sans-serif;
    color: #24305E;
    font-size: 1.5rem;
    line-height: 1;
  }
  .about-content .skill-bars {
    margin-top: 6rem;
  }
  
  .button-section {
    text-align: center;
  }
  .button-section .button {
    width: 250px;
  }
  .button-section [class*="col-"] .button:first-child {
    margin-right: 4rem;
  }

  
#resume .section-intro h1 {
    color: #A8D0E6;
  }
  
  #resume {
     background: #24305E;
     padding-top: 90px;
     padding-bottom: 72px;
  }
  
  #resume .resume-header {
    text-align: center;
  }
  
  #resume .resume-header h2 {
    color: #A8D0E6
  }
  
  #resume .resume-exp {
    max-width: 1600px;
  }
  #resume .exp-wrap {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
  #resume .exp-wrap::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 35%;
    top: 0;
  }
  #resume .exp-block {
    
    position: relative;
    padding-top: 1.5rem;
  }
  
  #resume .exp-header {
    float: left;
    width: 35%;
    padding-right: 0px;
    text-align: left;
  }
  #resume .exp-header h3 {
    margin-bottom: 0;
  }
  #resume .exp-header p {
    font-family: fSB, sans-serif;
    font-size: 1.6rem;
    color: #888888;
  }
  #resume .exp-content {
    margin-left: 35%;
    padding-left: 60px;
  }
  #resume .exp-content h4 {
    position: relative;
    padding-bottom: 1.8rem;
  }
  #resume .exp-content h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 150px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  
#portfolio {
    background: #ffa2a2;
    padding-top: 90px;
    padding-bottom: 60px;
 }
 #portfolio h1 {
    color: black;
 }
 
 /* Portfolio Content */
 #portfolio-wrapper .columns { margin-bottom: 36px; }
 .portfolio-item .item-wrap {
    background: #f8afaf;
    overflow: hidden;
    position: relative;
 
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }
 .portfolio-item .item-wrap a {
    display: block;
    cursor: pointer;
 }
 
 /* overlay */
 .portfolio-item .item-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 
     opacity: 0;
     -moz-opacity: 0;
     filter:alpha(opacity=0);
 
    -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
     -o-transition: opacity 0.3s ease-in-out;
     transition: opacity 0.3s ease-in-out;
 
    background: #F76C6C repeat;
 }
 .portfolio-item .item-wrap .link-icon {
    display: block;
    color: #fff;
    height: 30px;
    width: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
 
    opacity: 0;
     -moz-opacity: 0;
     filter:alpha(opacity=0);
 
    -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
     -o-transition: opacity 0.3s ease-in-out;
     transition: opacity 0.3s ease-in-out;
 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
 }
 .portfolio-item .item-wrap img {
    vertical-align: bottom;
 }
 .portfolio-item .portfolio-item-meta { padding: 18px }
 .portfolio-item .portfolio-item-meta h5 {
    font: 14px/21px 'opensans-bold', sans-serif;
    color: #fff;
 }
 .portfolio-item .portfolio-item-meta p {
    font: 12px/18px 'opensans-light', sans-serif;
    color: #c6c7c7;
    margin-bottom: 0;
 }
 
 /* on hover */
 .portfolio-item:hover .overlay {
     opacity: 1;
     -moz-opacity: 1;
     filter:alpha(opacity=100);
 }
 .portfolio-item:hover .link-icon {
    opacity: 1;
     -moz-opacity: 1;
     filter:alpha(opacity=100);
 }
 
  
