<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

   <meta charset="utf-8">
	<title>John's Personal Website</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <link rel="stylesheet" href="app.component.scss">

	<link rel="shortcut icon" href="..\assets\ocKu7OUcxegAAAABJRU5ErkJggg==.png">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFSK6W596W"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-LFSK6W596W');
   </script>
   <script>
      const nav = document.querySelector(".nav");
      let lastScrollY = window.scrollY;
    
      window.addEventListener("scroll", () => {
        if (lastScrollY < window.scrollY) {
          nav.classList.add("nav--hidden");
        } else {
          nav.classList.remove("nav--hidden");
        }
    
        lastScrollY = window.scrollY;
      });
    </script>
</head>
<body>
   <header id="home">
      <nav id="nav-wrap">
         <ul id="nav" class="nav">
            <li class="current"><a class="ss" href="#home">Home</a></li>
            <li><a class="ss" href="#about">About</a></li>
	         <li><a class="ss" href="#resume">Resume</a></li>
            <li><a class="ss" href="#portfolio">Projects</a></li>
            <li><a class="ss" href="#involvement">Involvement</a></li>
            <li><a class="ss" href="#contact">Contact</a></li>
         </ul>
      </nav>
      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">John Glass</h1>
            <h3> <span>Software Engineer</span> | <span>Data Analyst</span> | <span>Full Stack Developer</span></h3>
            <hr />
            <ul class="social">
               <li><a href="https://github.com/johnglass2003"><i class="fa fa-github"></i></a></li>
               <li><a href="https://www.linkedin.com/in/john-g-6860931a6/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="mailto:johnglass0904@gmail.com"><i class="fa fa-envelope"></i></a></li>
            </ul>
         </div>
      </div>
      <p class="ss">
         <a class="ss" href="#about"><i class="icon-down-circle"></i></a>
      </p>
   </header>
   <section id="about">  
      <div class="row section-intro">
         <div class="colA">
            <h5>About</h5>
            <h1>Let me introduce myself.</h1>
            <div class="intro-info">
               <img src="images/profilepic.jpg" alt="Profile Picture">
               <p class="lead">I am a Computer Scientist and Electrical Engineer pursuing my Bachelor of Science degree at the University of Florida. I am a passionate person driven by a constant desire to learn and grow. My primary interests include software development, data science, machine learning and more! </p>
            </div>            
         </div>         
      </div> 
      <div class="row about-content">
         <div class="colB tab-full">
            <h3>Profile</h3>
            <p>I am a part-time data analyst open to all software engineering oppurtunities. If I'm a good fit, please contant me via <a href="mailto:sunnybd97@gmail.com">johnglass0904@gmail.com</a>.</p>

            <ul class="info-list">
               <li>
                  <strong>Fullname:</strong>
                  <span>John Glass</span>
               </li>
               <li>
                  <strong>Email:</strong>
                  <span>johnglass0904@gmail.com</span>
               </li>
            </ul>
         </div>
         <div class="colB tab-full">
            <h3>Skills</h3>
            <p>I'm a driven teamworker equiped with a strong coding skill set. Below are highlights of my technical skills:</p>
            
              <li>
                <strong>C/C++</strong>
             </li>
             <li>
              <strong>Python</strong>
             </li>
             <li>
              <strong>Java</strong>
           </li>
           <li>
            <strong>HTML/CSS</strong>
         </li>
         <li>
            <strong>C#</strong>
         </li>
           <li>
            <strong>JavaScript ADD JS LIBRARIES AND FRAMEWORKS</strong>
         </li>
              
         </div>
      </div>
      <div class="row button-section">
         <div class="colA">
            <a href="#contact" title="Hire Me" class="button stroke ss">Hire Me</a>
            <a href="..\assets\resume.pdf" title="Download Resume" class="button button-primary">Download Resume</a>
         </div>         
      </div>
   </section>
   <section id="resume">
      <div class="row section-intro">
         <div class="colA">
            <h5>Resume</h5>
            <h1>More of my credentials.</h1>
            <p class="lead">Here are my work experiences and education.</p>
         </div>  
      </div>
      <div class="row resume-exp">
         <div class="colA resume-header">
            <h2>Work Experience</h2>
         </div> 
         <div class="colA">
            <div class="exp-wrap">
                <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Data Analyst</h3>
                     <p>May 2021 - Present</p>
                  </div>
                  <div class="exp-content">
                     <h4>Mitchell Glass LLC</h4>
                     <p> Created a Python program that processes over 10,000+ data entries weekly, optimizing performance by 15%.
                     </p>
                  </div>
               </div> 
               <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Full Stack Developer</h3>
                     <p>June 2020 - August 2020</p>
                  </div>
                  <div class="exp-content">
                     <h4>Brick Top Holdings</h4>
                     <p> Designed Brick Top Holding's company website using HTML, CSS, and jQuery. I presented 5-10 protoypes a week to the CEO during the development process. After completing the website, I managed and updated it regularly for 5 months.
                     </p>
                  </div>
               </div> 
               <div class="exp-block"> 
                  <div class="exp-header">
                     <h3>Environmental Software Engineering Intern</h3>
                     <p>August 2019 - January 2021</p>
                  </div>
                  <div class="exp-content">
                     <h4>Museum of Discovery and Science</h4>
                     <p> I collaberatively researched environmental issues and solutions. My team and I were trained with C# to create 3D interactive augmented reality exhibits which maximized accessibility to 20+ museum exhibits.
                     </p>
                  </div>
               </div>
         </div> 
         <div class="colA resume-header">
            <h2>Background Education</h2>
         </div>
         <div class="colA">
            <div class="exp-wrap">
               <div class="exp-block">
                  <div class="exp-header">
                     <h3>Bachelor of Science Degree</h3>
                     <p>August 2021 - May 2025</p>
                  </div>
                  <div class="exp-content">
                     <h4>University of Florida</h4>
                     <p>Pursuing my Bachelor of Science degree majoring in Computer Science and minoring in Electrical Engineering. I am a member of Upsilon Pi Epsilon, Univeristy of Florida Association for Computer Machinery, and Society of Software Developers. Relevant Coursework includes: Data Structures and Algorithms, Programming Fundamentals II, Programming Language Concepts, and Introduction to Discrete Structures.</p>
                  </div>
               </div> 
            </div>          
         </div> 
        </div>
      </div>
   </section>
   <section id="portfolio">
      <div class="row section-intro">
         <div class="colA">
            <h5>Projects</h5>
            <h1>Check out my <a href="https://github.com/johnglass2003" target="_blank">GitHub</a>! </h1>
         </div>  
      </div>
      <div class="row">
         <div class="twelve columns collapsed">
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                  <div class="portfolio-block"> 
                  <div class="portfolio-header">
                     <h3>GOOP</h3>
                     <p>Personal Game Development Project</p>
                  </div>
                  <div class="portfolio-content">
                     <h4><a href="https://github.com/johnglass2003/GOOPDemo" target="_blank">Check Me Out on GitHub!</a></h4>
                     <p>Rogue-Like Top-Down Arena Shooter!
                     </p>
                  </div>
               </div> 
            </div>
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
               <div class="portfolio-block"> 
               <div class="portfolio-header">
                  <h3>DailyDoodle</h3>
                  <p>Drawing Web-App!</p>
               </div>
               <div class="portfolio-content">
                  <h4><a href="https://github.com/johnglass2003/DailyDoodle" target="_blank">Check Me Out on GitHub!</a></h4>
                  <p>This is a website that generates a new "doodle" every day that the user draws and completes. The user may download and upload their drawing to the website. This website is powered by React and Php!
                  </p>
               </div>
            </div> 
         </div>
         <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
            <div class="portfolio-block"> 
            <div class="portfolio-ico">
               <i class="fa fa-briefcase"></i>
            </div>
            <div class="portfolio-header">
               <h3>VideoGameAnalyzer</h3>
               <p>Collaberative Data Analyzer Project</p>
            </div>
            <div class="portfolio-content">
               <h4><a href="https://github.com/johnglass2003/VideoGameAnalyzer" target="_blank">Check Me Out on GitHub!</a></h4>
               <p>C++ Collaborative Project That Analyzes Data On Video Games Based On Many Categories. This program compares the efficiency of different sorting and search algorithms.
               </p>
            </div>
         </div> 
      </div>
   <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
      <div class="portfolio-block"> 
      <div class="portfolio-ico">
         <i class="fa fa-briefcase"></i>
      </div>
      <div class="portfolio-header">
         <h3>johnglass2003.github.io</h3>
         <p>The Personal Website You Are On Right Now!</p>
      </div>
      <div class="portfolio-content">
         <h4><a href="https://github.com/johnglass2003/johnglass2003.github.io" target="_blank">Check Me Out on GitHub!</a></h4>
         <p>Check out the source code I created for this website!
         </p>
      </div>
   </div> 
</div>
         </div>
      </div>
   </section>
   <section id="involvement">
      <div class="overlay"></div>
      <div class="row section-intro">
         <div class="colA">
            <h5>Involvement</h5>
            <h1>My leadership positions and activities.</h1>
         </div>         
      </div>
      <div class="row involvement">
         <div class="twelve columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>Marjory Stoneman Douglas Coding Club</h3>
                  <p class="info">Game Design Teacher<span> - </span> <em class="date">August 2019 - May 2020</em></p>
                  <p>
                  Organized game development classes for 20+ students. <br>
                  Taught Python, JavaScript, and GML. <br>
                  Recruited students into members of my class. 
                  </p>
               </div>
            </div>
            <div class="row item">
               <div class="twelve columns">
                  <h3>Chabad of Parkland</h3>
                  <p class="info">Hebrew Teacher<span> - </span> <em class="date">August 2016 - May 2020</em></p>
                  <p>
                  Instructed over 25+ students in Hebrew Fundamentals with a passing rate of 98%. <br>
                  Facilitated daily functions throughout the educational program for 300+ students. <br>
                  </p>
               </div>
            </div>
         </div>
      </div>   
   </section>
   <section id="contact">
      <div class="row section-intro">
         <div class="colA">
            <h5>Contact</h5>
            <h1>Connect With Me!</h1>
         </div> 
      </div>
      <div class="row contact-info">
         <div class="colC tab-full">
            <div class="icon">
               <i class="fa fa-location-arrow"></i>
            </div>
            <h5>Discord</h5>
            <p>
            JohnGlass#1711
            </p>
         </div>
         <div class="colC tab-full collapse">
            <div class="icon">
               <i class="icon-mail"></i>
            </div>
            <h5>Email</h5>
            <p>johnglass0904@gmail.com<br>         
            </p>
         </div>
	 <div class="colC tab-full collapse">
            <div class="icon">
               <i class="fa fa-linkedin"></i>
            </div>
            <h5>LinkedIn</h5>
            <a href="https://www.linkedin.com/in/john-g-6860931a6/" target="_blank">Connect</a>
         </div>
      </div> 
   </section> 
   <footer>
      <div class="row">
         <div class="twelve columns">
            <a>Created and Designed by John Glass</a>
         </div>
         <div id="go-top"><a class="ss" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
      </div>
   </footer>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>
</body>
</html>
<router-outlet></router-outlet>
